#include <stdio.h>
#include <stdlib.h>
struct node {
	int x;
	struct node *next;
};

struct node *top=NULL;

int push(int data) {
	if (top==NULL) {
	struct node *new=(struct node*)malloc(sizeof(struct node));
	new->x=data;
	new->next=NULL;
	top=new;
	}
	
	else {
		struct node *new=(struct node*)malloc(sizeof(struct node));
		new->x=data;
		new->next=NULL;
		new->next=top;
		top=new;
	}
	
}

int pop () {
	struct node *temp=top;
	top=top->next;
	free(temp);
}

int print() {
	
	if (top==NULL) {
		printf("Yigin bos");
		return 1;
	}
	
	while (top!=NULL) {
		printf("%d ",top->x);
		top=top->next;
	}
	printf("\n");
}

int peek () {
	if (top==NULL) {
		printf("Yigin bos: ");
		return 1;
	}
		printf("Son eleman : %d\n",top->x);
}
int main () {
	push(12);
	push(15);
	push(23);
	print();
	push(13);
	push(24);
	push(95);
	print();
}
